<nav class="top100-global-nav" aria-label="Top 100">
  <ul class="top100-ecosystem-nav">
    <li><a href="/" class="is-home">Top 100</a></li>
    <li><a href="https://archive.smtop100.blog/">Stats &amp; History</a></li>
    <li><a href="https://youth-cup.smtop100.blog/">Tournaments</a></li>
    <li><a href="https://awards.smtop100.blog/">Awards</a></li>
    <li><a href="https://top100regen.website/">Regen</a></li>
  </ul>
  <ul class="top100-utility-nav">
    <li><a href="/about/">About</a></li>
    <li><a href="/rules/">Rules</a></li>
    <li><a href="/support/">Support</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/archive/">Posts Archive</a></li>
    <li><a href="/search/">Search</a></li>
    <li><a href="/subscribe/">Subscribe</a></li>
    <li><a class="top100-write-link" href="https://write.smtop100.blog/">Write</a></li>
  </ul>
</nav>
